<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/styles.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <title>Angra Cidade Inclusiva</title>
        <link rel="shortcut icon" href="img/faviicon.ico" type="image/x-icon"/>
    </head>

<body>
    <%- include ('frags/header.ejs') %>
   <br><br><br><br>
    <%- include ('frags/formCadastro.ejs') %>
    <%- include ('frags/footer.ejs') %> 
    <script src="js/bootstrap.js"></script>

    <!-- autoformatação do cadastro -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="js/cleave.js"></script>
    <script>
        new Cleave('.CEP',{
            delimiter: '-',
            blocks: [5,3],
        });
        new Cleave('.celular',{
            prefix: '(',
            delimiters: [') ', '-'],
            blocks: [3,5,4],
        });
        new Cleave('.celularA',{
            prefix: '(',
            delimiters: [') ', '-'],
            blocks: [3,5,4],
        });

    
        var activeFormat;
      var cpnpj;

      $('.cpfj').on('keyup', function() {
        if (activeFormat != null)
        {
          activeFormat.destroy();
          activeFormat = null;
        }
    
        if ($(this).val().length <= 14) {
          activeFormat = new Cleave('.cpfj', {
            numericOnly: true,
            blocks: [3, 3, 3, 3],
            delimiters : ['.', '.', '-']			
          });
          cpnpj = 1;
          //document.getElementById('cpnpjCheck').innerHTML = cpnpj;
        }
        else {
          activeFormat = new Cleave('.cpfj', {
            numericOnly: true,
            blocks: [2, 3, 3, 4, 2],
            delimiters : ['.', '.', '/', '-']
          });	
          cpnpj = 2;
          //document.getElementById('cpnpjCheck').setAttribute('value', cpnpj);		
         }
         document.getElementById('cpnpjCheck').setAttribute('value', cpnpj);
        });
    </script>
    <%- include ('frags/vLibras.ejs') %>
</body>

</html>
