<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <title>Angra - Cidade Inclusiva</title>
    <link rel="shortcut icon" href="img/faviicon.ico" type="image/x-icon" />
</head>

<body>

    <%- include ('frags/header.ejs') %>
        <br>
        <div class="main" id="faleConosco">
            <section class="container ">
                <div class="row ">
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong><%= erro%>...</strong>
                        <button style="margin-left: 40!important;" type="button" class="btn btn-warning" data-bs-dismiss="alert" onclick="history.back()"><strong>voltar</strong></button>
                    </div>
                </div>
            </section>    
        </div>    
    <%- include ('frags/darkMode.ejs') %>
    <%- include ('frags/vLibras.ejs') %>
</body>

</html>