<div class="container">
    <form action="#" method="POST">
        <h1>Formulario Empresa</h1>

        <label for="nome">Nome: </label>
        <input type="text" name="nome" placeholder="Seu nome aqui" class="form">

        <label for="telefone">Telefone: </label>
        <input type="number" name="telefone" placeholder="(xx)xxxxxxxxx" class="form">

        <label for="email">Email: </label>
        <input type="email" name="email" placeholder="example@example.com" class="form">

        <label for="cep">CEP: </label>
        <input type="number" name="cep" placeholder="xxxxx-xxx" class="form">

        <label for="bairro">bairro: </label>
        <input type="number" name="cep" placeholder="xxxxx-xxx" class="form">

    </form>
</div>