<div class="container">
    <form action="#" method="POST">
        <h1>Formulario Empresa</h1>
        <br>
        <div>
            <label for="nome">Nome: </label>
            <input type="text" name="nome" placeholder="Seu nome aqui" class="form">
        </div>
        <br>
        <div>
            <label for="telefone">Telefone: </label>
            <input type="number" name="telefone" placeholder="(xx)xxxxxxxxx" class="form">
        </div>
        <br>
        <div>
            <label for="email">Email: </label>
            <input type="email" name="email" placeholder="example@example.com" class="form">
        </div>
        <br>
        <div>
            <label for="cep">CEP: </label>
            <input type="number" name="cep" placeholder="xxxxx-xxx" class="form">
        </div>
        <br>
        <div>
            <label for="bairro">bairro: </label>
            <input type="text" name="bairro" placeholder="bairro aqui" class="form">
        </div>
        <br>
        <div>
            <label for="logradouro">Logradouro: </label>
            <input type="text" name="logradouro" placeholder="logradouro aqui" class="form">
        </div>
        <br>
        <div>
            <label for="numero">Numero: </label>
            <input type="number" name="numero" placeholder="xx" class="form">
        </div>
        <br>
        <div>
            <label for="submit1">Enviar: </label>
            <input type="submit" name="submit1" class="form">
        </div>
    </form>
</div>