<ul class="nav nav-pills nav-fill" id="nav-fill">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Sobre</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Locais e Roteiros Acessiveis</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Serviços Cadastrados</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Empresas Cadastradas</a>
    </li>
</ul>