<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/styles.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <title>Angra Cidade Inclusiva</title>
        <link rel="shortcut icon" href="img/faviicon.ico" type="image/x-icon"/>
    </head>

<body>
    <section>
        
            <%- include ('frags/header.ejs') %>
            <div class="container-fluid main">
            
            <br><br>
            <h1 class="h1text">Locais e Roteiros Acessiveis example</h1>
            <br><br>
            
            <div class="container-fluid row">
            <div class="bigbox1">
                <div class="card smallbox1 bg-white" style="width: 18rem;">
                    <img src="/img/cadeirante.jpg" class="card-img-top" alt="imagem do Local">
                    <div class="card-body">
                    <h5 class="card-title">Local 1</h5>
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat, ad alias possimus pariatur voluptatum sapiente ratione laborum, perspiciatis voluptatibus voluptas est tempora voluptates. Doloribus porro suscipit, in iure numquam illo.</p>
                    <a href="#" class="btn btn-primary">ver local</a>
                    </div>
                </div>

                <div class="card smallbox1 bg-info" style="width: 18rem;">
                    <img src="/img/SeloPrata.png" class="card-img-top" alt="imagem do Local">
                    <div class="card-body">
                    <h5 class="card-title">Local 2</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, sint fuga laudantium nisi delectus optio, dolores illum dicta earum, quo sequi in. Esse inventore earum dicta porro rem praesentium tempora.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

                <div class="card smallbox1 bg-info" style="width: 18rem;">
                    <img src="/img/SeloOuro.png" class="card-img-top" alt="imagem do Local">
                    <div class="card-body">
                    <h5 class="card-title">Local 3</h5>
                    <p class="card-text"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem temporibus ipsa eveniet ex similique repellat corrupti. Delectus velit libero, repellat quibusdam distinctio dolor nisi perferendis autem earum obcaecati magni esse!</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

                <div class="card smallbox1 bg-info" style="width: 18rem;">
                    <img src="/img/cadeirante.jpg" class="card-img-top" alt="imagem do Local">
                    <div class="card-body">
                    <h5 class="card-title">Local 4</h5>
                    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et obcaecati molestiae dolorem possimus ipsa maiores ducimus. Provident officia itaque distinctio non voluptas deleniti impedit, eveniet praesentium repudiandae nam ad esse?</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

                <div class="card smallbox1 bg-info" style="width: 18rem;">
                    <img src="/img/SeloPrata.png" class="card-img-top" alt="imagem do Local">
                    <div class="card-body">
                    <h5 class="card-title">Local 5</h5>
                    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor amet deserunt doloremque at maiores nobis id veritatis consequuntur. Ratione suscipit animi totam dolores quos quia incidunt nam, cumque expedita voluptates.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

                <div class="card smallbox1 bg-info" style="width: 18rem;">
                    <img src="/img/SeloOuro.png" class="card-img-top" alt="imagem do Local">
                    <div class="card-body">
                    <h5 class="card-title">Local 6</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, ipsa ea autem molestiae ut nobis suscipit modi hic earum, beatae illum odit maxime. Non explicabo, dolore exercitationem enim est ea.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

            </div>

            </div>

            <br><br>
            <%- include ('frags/formLocal.ejs') %>
            <%- include ('frags/footer.ejs') %> 

        </div>
    </section>

    <script src="js/bootstrap.js"></script>
</body>

</html>

