<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/styles.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <title>Angra Cidade Inclusiva</title>
    <link rel="shortcut icon" href="img/faviicon.ico" type="image/x-icon" />
</head>

<body>
    <section>

        <%- include ('frags/headerAdmin.ejs') %>

            
        <% if(warn){ %>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong><%= warn%></strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <%}%>
            

                
        <div class="login container form-group col-lg-6">
            <div class="row">
                <form action="/nuserreg" method="post" class="form-group col">
                    <div>
                        <h4>Novo Usuario</h4>
                    </div>
                    <br>

                    <label for="usuario">Usuario: </label>
                    <input type="text" name="usuario" placeholder="nome de usuario " class="form-control ">
                    <br>
                    <label for="senha">Senha: </label>
                    <input type="password" name="senha" placeholder="senha " class="form-control ">
                    <br>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" autocomplete="off" role="switch" id="eAdmin" name="eAdmin">
                        <label class="form-check-label" for="eAdmin">Administador</label>
                    </div>
                    <br>

                    <button type="submit " class="btn btn-primary col-sm-12 ">Confirmar</button>

                </form>
            </div>
        </div>

                <%- include ('frags/footer.ejs') %>

    </section>
    <script src="js/bootstrap.js"></script>
    <%- include ('frags/vLibras.ejs') %>
</body>

</html>