<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/styles.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <title>Angra Cidade Inclusiva</title>
    <link rel="shortcut icon" href="img/faviicon.ico" type="image/x-icon" />
</head>

<body>
    <section>
        <%- include ('frags/header.ejs') %>
            <div class="main">
                <br><br>
                <h2 class="h1text">Roteiros Acessiveis</h1>
                <br>
                <%- include ('frags/cardsLoop.ejs') %>
                <br>
                <%- include ('frags/footer.ejs') %>
            </div>
    </section>
    <script src="js/bootstrap.js"></script>
</body>

</html>