<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <title>Angra - Cidade Inclusiva</title>
    <link rel="shortcut icon" href="img/faviicon.ico" type="image/x-icon" />
</head>

<body>

    <%- include ('frags/header.ejs') %>
        <div class="main">
            <section class="container" id="suporte">
                <br>
                <h2 class="h1text">Formulario de Cadastro</h2>
                <br>
                <div class="container-fluid row">
                    <img src="/public/img/SDE02.png" class="img-responsive">
                    <div class="row">
                        Email: cidadeinclusiva@angra.rj.gov.br
                    </div>
                    <div class="row">
                        Telefone: 24 3377-4507
                    </div>
                </div>
            </section>
            <%- include ('frags/footer.ejs') %>
                <div>
                    </br>
                    <script src="js/bootstrap.js">
                    </script>

</body>

</html>