<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <title>Angra - Cidade Inclusiva</title>
    <link rel="shortcut icon" href="img/faviicon.ico" type="image/x-icon" />
</head>

<body>

    <%- include ('frags/header.ejs') %>
        <br>
        <div class="main" id="faleConosco">
            <section class="container ">
                <div class="container ">
                    <img src="/img/PMAR-SDE-06.png " class="img-responsive center-block w-75 ">
                </div>
                <br>
                <br>
                <div class="row ">
                    <p> Email: cidadeinclusiva@angra.rj.gov.br </p>
                    <p>Telefone: 24 3377-4507</p>
                </div>
            </section>

            <div>
                </br>
                <script src="js/bootstrap.js ">
                </script>
            </div>
    <%- include ('frags/vLibras.ejs') %>
</body>

</html>