/* Estilizando do NavBar */

.nav-toggler{
    padding:0;
    margin: 0%;
    size: auto;
    border: none;
    color: #FF8700;
}

#menu-button{
    border: none;
}


#navbar-links{
    text-decoration: #fff;
}

.row{
    margin: 0;
}

.container{
    padding: 10px;
    align-items: center;
}


 header, .navbar {
    background-color:#FF8700;
}

#footerPosition{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#nav-container {
    padding-top:0;
    padding-bottom:0;
    position: fixed;
    padding: 14px,16px;
    background-color: #FF8700;
}

.navbar-brand{
padding: 0;
color:#fff
}

.navbar-brand:hover{
    color: #fff
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding: 1rem .8rem;
}

#logo{
    width: 180px;
}

/* Estilos do Main */
.main{
    padding:16px;
    margin-top:40px;

}

/* Estilizando os selos */
.spaceSelo{
    margin-top: 5px;
    margin-bottom: 5px;

}

/* Estilizacao dos textos */

#tituloCenter{
    text-align: center;
}

#texto-informativo{
    text-align: justify;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-indent: 5rem;
    box-sizing: content-box;
}

/* estilizando o rodape  */
#copyrightRodape {
    font-size: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: botton;
}

#rodape {
    align-items: flex-end;
    position: bottom;
}

/* Dados do Google Maps */
.mapouter {
    position: relative;
    text-align: right;
    height: 500px;
    width: 600px;
}

.main{
    position: relative;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}


/* Plano de fundo com elemnetos da LogoMarcar */
body{
    background-image: url(../img/cores.svg);
    background-size: 100%;
    background-position-x: right;
    background-repeat: no-repeat;
}

/* Estilizando o Menu Hamburguer responsivo */

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

html,
body {
    height: 100%;
}

#checkbox-menu {
    position: absolute;
    opacity: 0;
}

label {
    cursor: pointer;
    position: relative;
    display: block;
    height: 23px;
    width: 30px;
}

label span {
    position: absolute;
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 30px;
    background: #f16234;
    transition: 0.25s ease-in-out;
}

label span:nth-child(1) {
    top: 0;
}

label span:nth-child(2) {
    top: 8px;
}

label span:nth-child(3) {
    top: 16px;
}


#checkbox-menu:checked+label span:nth-child(1) {
    transform: rotate(-45deg);
    top: 8px;
}

#checkbox-menu:checked+label span:nth-child(2) {
    opacity: 0;
}

#checkbox-menu:checked+label span:nth-child(3) {
    transform: rotate(45deg);
    top: 8px;
}

/* Teste com elemento do botao
#checkbox-menu:checked+label ul:nth-of-type(1){
display: flex;

}
*/

/* Ocultando menu Mobile */

button-menu{
    -webkit-appearance: push-button;
    -moz-appearance: button;
    display: inline-block;
    cursor: pointer;
    padding: 5px;
}
    .bigbox{
        width: 100%;
        margin: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-flow: wrap;	
    }

.smallbox{
	width: 500px;
	height: 600px;
	margin: 5px;
	transition: 1s;
}

.bigbox1{
	width: 90%;
	margin: auto;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-flow: wrap;	
}

.smallbox1{
	width: 500px;
	height: 600px;
	margin: 20px;
	transition: 1s;
}

.h1text{
    text-align: center;
}