<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title> Angra Cidade Inclusiva </title>></title>
    <link rel="stylesheet" href='../../assets/css/bootstrap.css'>
</head>
<html>
    <body>
        <navbar class="navbar" >
            <ul>
                <li>Botao 1</li>
                <li>Botao 2</li>
                <li>Botao 3</li>
                <li>Botao 4</li>
            </ul>
        </navbar>

       
    </body>
</html>