<section class="container">


    <!-- Inicia o carrocel -->
    <div id="carouselExempleControls" class="carousel slide container-fluid" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/img/Angra Cidade Inclusiva - logotipo 1.png" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
                <img src="/img/backgroud_ImgID1.png" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item img-fluid">
                <img src="/img/Angra Cidade Inclusiva - logotipo 1.png" class="d-block w-100" alt="...">
            </div>
        </div>


        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev" style="z-index: 1">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>

        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    </div>


    <br>
    <section id="texto-informativo">
        <div class="container-fluid">
            <br>
            <h1 id="tituloCenter">Angra, Cidade Inclusiva </h1>
            <br>

            <div class="containerBox">
                <div class="textImageMenu">
                    <div>
                        <p>O Projeto “Angra, Cidade Inclusiva” é um compromisso do Governo Municipal em criar, monitorar e garantir a implementação de Politicas Públicas para Pessoas Com Deficiência e Pessoas com Mobilidade Reduzida.</p>
                        <p>Nosso objetivo é criar ações inovadoras e de excelência, que tornem Angra dos Reis uma cidade referência e modelo mundial em projetos para Pessoas com Deficiência - PCDs e Pessoas com Mobilidade Reduzida, com ações de inclusão
                            e acessibilidade, que deem a esses cidadãos o grande sentido de pertencimento social que lhes é garantido por Lei, diminuindo não apenas as barreiras físicas, mas, sobretudo, aquelas advindas do preconceito e da exclusão, respeitando
                            as individualidades e incluindo a todos.</p>
                        <p>Nesse sentido, queremos também garantir um Turismo Acessível, que honre nosso título de Patrimônio Mundial da Unesco, permitindo aos PCDs e Pessoas com Mobilidade reduzida desfrutarem das belezas e atrativos naturais em nosso mar,
                            nossas praias, ilhas e atrativos históricos, criando para elas um ambiente acolhedor. </p>
                        <p>A inclusão, mais do que um direito por imposição legal, é um dever de consciência! Considerando essa verdade e conscientes de nossa responsabilidade, a Prefeitura de Angra, através do “Angra, Cidade Inclusiva”, continuará a criar
                            ferramentas de gestão que integrem e aprimorem as ações já existentes e proporá novas ações, necessárias para melhor atender esse público, através de um canal direto com a sociedade para ouvir e discutir propostas, em um diálogo
                            permanente, sempre buscando a excelência nos serviços prestados, promovendo qualidade de vida e cidadania.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <br><br><br><br>

    <div class="container-fluid">
        <div class="row ">
            <div class="col-lg-4 spaceSelo">
                <img class="img-fluid" src="/img/SeloOuro.png">
            </div>
            <br>
            <div class="col-lg-4 spaceSelo ">
                <img class="img-fluid" src="/img/SeloPrata.png">
            </div>
            <br>
            <div class="col-lg-4 spaceSelo">
                <img class="img-fluid" src="/img/SeloBronze.png">
            </div>
            <br>
        </div>
    </div>

    <br><br><br><br>
</section>