<section class="container">


    <!-- Inicia o carrocel -->
    <div id="carouselExempleControls" class="carousel slide container-fluid" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/img/Angra Cidade Inclusiva - logotipo 1.png" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
                <img src="/img/backgroud_ImgID1.png" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item img-fluid">
                <img src="/img/Angra Cidade Inclusiva - logotipo 1.png" class="d-block w-100" alt="...">
            </div>
        </div>


        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev" style="z-index: 1">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>

        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    </div>








    <br>
    <section id="texto-informativo">
        <div class="container-fluid">
            <br>
            <h1 id="tituloCenter">Sobre o Projeto </h1>
            <br>

            <div class="containeBox">
                <div class="textImageMenu">
                    <figure id="figura">
                        <img src="/img/cadeirante.jpg" class="img-fluid " alt="Logomarca Angra Cidade Inclusiva ">
                    </figure>
                </div>

                <div class="textImageMenu">
                    <div>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut quae aliquid vero obcaecati! Voluptate, at debitis deserunt assumenda consequuntur alias mollitia. Aut nisi non blanditiis officiis vero ab similique voluptatum? </p>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut quae aliquid vero obcaecati! Voluptate, at debitis deserunt assumenda consequuntur alias mollitia. Aut nisi non blanditiis officiis vero ab similique voluptatum? </p>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut quae aliquid vero obcaecati! Voluptate, at debitis deserunt assumenda consequuntur alias mollitia. Aut nisi non blanditiis officiis vero ab similique voluptatum? </p>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut quae aliquid vero obcaecati! Voluptate, at debitis deserunt assumenda consequuntur alias mollitia. Aut nisi non blanditiis officiis vero ab similique voluptatum? </p>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut quae aliquid vero obcaecati! Voluptate, at debitis deserunt assumenda consequuntur alias mollitia. Aut nisi non blanditiis officiis vero ab similique voluptatum? </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <br><br><br><br>

    <div class="container-fluid">
        <div class="row ">
            <div class="col-lg-4 spaceSelo">
                <img class="img-fluid" src="/img/SeloOuro.png">
            </div>
            <br>
            <div class="col-lg-4 spaceSelo ">
                <img class="img-fluid" src="/img/SeloPrata.png">
            </div>
            <br>
            <div class="col-lg-4 spaceSelo">
                <img class="img-fluid" src="/img/SeloBronze.png">
            </div>
            <br>
        </div>
    </div>

    <br><br><br><br>
</section>