<section class="ImagemLogo">
    <img src="/img/BannerSite1.png" alt="...">
</section>


<br>
<section class="container-fluid center-block w-75" id="texto-informativo">
    <h1 id="tituloCenter">Angra, Cidade Inclusiva </h1>
    <div>
        <div class="container pagPrincipal">
            <p>O Projeto “Angra, Cidade Inclusiva” é um compromisso do Governo Municipal em criar, monitorar e garantir a implementação de Politicas Públicas para Pessoas Com Deficiência e Pessoas com Mobilidade Reduzida.</p>
            <p>Nosso objetivo é criar ações inovadoras e de excelência, que tornem Angra dos Reis uma cidade referência e modelo mundial em projetos para Pessoas com Deficiência - PCDs e Pessoas com Mobilidade Reduzida, com ações de inclusão e acessibilidade,
                que deem a esses cidadãos o grande sentido de pertencimento social que lhes é garantido por Lei, diminuindo não apenas as barreiras físicas, mas, sobretudo, aquelas advindas do preconceito e da exclusão, respeitando as individualidades
                e incluindo a todos.</p>
            <p>Nesse sentido, queremos também garantir um Turismo Acessível, que honre nosso título de Patrimônio Mundial da Unesco, permitindo aos PCDs e Pessoas com Mobilidade reduzida desfrutarem das belezas e atrativos naturais em nosso mar, nossas praias,
                ilhas e atrativos históricos, criando para elas um ambiente acolhedor. </p>
            <p>A inclusão, mais do que um direito por imposição legal, é um dever de consciência! Considerando essa verdade e conscientes de nossa responsabilidade, a Prefeitura de Angra, através do “Angra, Cidade Inclusiva”, continuará a criar ferramentas
                de gestão que integrem e aprimorem as ações já existentes e proporá novas ações, necessárias para melhor atender esse público, através de um canal direto com a sociedade para ouvir e discutir propostas, em um diálogo permanente, sempre
                buscando a excelência nos serviços prestados, promovendo qualidade de vida e cidadania.</p>
        </div>
    </div>
    </div>
</section>

<br><br><br><br>

<div class="container-fluid center-block w-75">
    <div class="row">
        <div class="col-lg-4 spaceSelo">
            <img class="img-fluid" src="/img/SeloOuro.png">
        </div>
        <br>
        <div class="col-lg-4 spaceSelo">
            <img class="img-fluid" src="/img/SeloPrata.png">
        </div>
        <br>
        <div class="col-lg-4 spaceSelo">
            <img class="img-fluid" src="/img/SeloBronze.png">
        </div>
        <br>
    </div>
</div>