<div id="imagemDiv">
    <img id="ImagemLogo" src="/img/BannerSite1.png" alt="Imagem ilustrativa com duas mãos se unindo, escrito Angra Cidade Inclusiva">
</div>


<br>
<section class="container-fluid center-block w-75" id="texto-informativo">
    <h1 id="tituloCenter">Angra, Cidade Inclusiva </h1>
    <div>
        <div class="container pagPrincipal">
            <p>O Projeto “Angra, Cidade Inclusiva” é um compromisso do Governo Municipal em criar, monitorar e garantir a implementação de Politicas Públicas para Pessoas Com Deficiência e Pessoas com Mobilidade Reduzida.</p>
            <p>Nosso objetivo é criar ações inovadoras e de excelência, que tornem Angra dos Reis uma cidade referência e modelo mundial em projetos para Pessoas com Deficiência - PCDs e Pessoas com Mobilidade Reduzida, com ações de inclusão e acessibilidade,
                que deem a esses cidadãos o grande sentido de pertencimento social que lhes é garantido por Lei, diminuindo não apenas as barreiras físicas, mas, sobretudo, aquelas advindas do preconceito e da exclusão, respeitando as individualidades
                e incluindo a todos.</p>
            <p>Nesse sentido, queremos também garantir um Turismo Acessível, que honre nosso título de Patrimônio Mundial da Unesco, permitindo aos PCDs e Pessoas com Mobilidade reduzida desfrutarem das belezas e atrativos naturais em nosso mar, nossas praias,
                ilhas e atrativos históricos, criando para elas um ambiente acolhedor. </p>
            <p>A inclusão, mais do que um direito por imposição legal, é um dever de consciência! Considerando essa verdade e conscientes de nossa responsabilidade, a Prefeitura de Angra, através do “Angra, Cidade Inclusiva”, continuará a criar ferramentas
                de gestão que integrem e aprimorem as ações já existentes e proporá novas ações, necessárias para melhor atender esse público, através de um canal direto com a sociedade para ouvir e discutir propostas, em um diálogo permanente, sempre
                buscando a excelência nos serviços prestados, promovendo qualidade de vida e cidadania.</p>
        </div>
    </div>
    </div>
</section>

<br><br><br>

<div class="container-fluid center-block w-75">
    <br><br><br>
    <div class="row">
        <div class="col-lg-4 spaceSelo">
            <img class="img-fluid" src="/img/SeloOuro.png">
        </div>
        <br>
        <div class="col-lg-4 spaceSelo">
            <img class="img-fluid" src="/img/SeloPrata.png">
        </div>
        <br>
        <div class="col-lg-4 spaceSelo">
            <img class="img-fluid" src="/img/SeloBronze.png">
        </div>
        <br>
    </div>

    <br><br><br>

    <section class="container-fluid" id="table-informativo">
        <h2 class="h1text">Como receber um Selo ?</h2>
        <h4 class="h1text">O estabelecimento deverá seguir os critérios listados abaixo, de acordo com o Boletim Oficial do Município Nº 1476 publicado em 04 de abril de 2022 </h4>
        <br>
        <table class="container-fluid table" id="table">
            <thead class="thead-dark tr">
                <tr>
                    <th scope="col">Nº.</th>
                    <th scope="col">Critérios</th>
                    <th scope="col">BRONZE</th>
                    <th scope="col">PRATA</th>
                    <th scope="col">OURO</th>
                </tr>
            </thead>
            <tbody class="td">
                <tr>
                    <th scope="row">1</th>
                    <td> Em restaurantes com cardápios em Braille atualizados, com caracteres aumentados e contraste de cor.</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>De 60% a 100% da equipe de funcionários treinada para atender bem a pessoa com deficiência e mobilidade reduzida.</td>
                    <td>10%</td>
                    <td>De 20% a 50%</td>
                    <td>De 60% a 100%</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Comunicação por voz nos locais de utilização independente como caixas eletrônicos, elevadores e outros recursos tecnológicos.</td>
                    <td>-</td>
                    <td>Sim</td>
                    <td>Sim</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Em caso de possuir computadores para uso público, disponibilização de software com tecnologia assistiva.</td>
                    <td>-</td>
                    <td>-</td>
                    <td>1</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Em caso do estabelecimento possuir site, que seja acessível.</td>
                    <td>-</td>
                    <td>-</td>
                    <td>Sim</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>Em caso de veiculação de filmes e ou similares, que tenha legenda em Português. Inclusive para filmes nacionais.</td>
                    <td>-</td>
                    <td>-</td>
                    <td>Sim</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>Mapa tátil do estabelecimento.</td>
                    <td>-</td>
                    <td>-</td>
                    <td>Sim</td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>Quando houver estacionamento, vagas para pessoas com deficiência e para idosos, com espaço adequado para embarque e desembarque.</td>
                    <td>1</td>
                    <td>2-1</td>
                    <td>2</td>
                </tr>
                <tr>
                    <th scope="row">9</th>
                    <td>Possuir funcionário bilingue (Português/LIBRAS).</td>
                    <td>-</td>
                    <td>1</td>
                    <td>1</td>
                </tr>
                <tr>
                    <th scope="row">10</th>
                    <td>Rampa de acesso ao estabelecimento e a outros patamares, quando houver.</td>
                    <td>Sim</td>
                    <td>Sim</td>
                    <td>Sim</td>
                </tr>
                <tr>
                    <th scope="row">11</th>
                    <td>Em locais que possuam elevadores sem ascensoristas, ter painel em Braille e com painel adequado à altura de pessoas usuárias de cadeira de rodas e com nanismo.</td>
                    <td>-</td>
                    <td>Sim</td>
                    <td>Sim</td>
                </tr>
                <tr>
                    <th scope="row">12</th>
                    <td>Espaço suficiente e livre para circulação com cadeira de rodas.</td>
                    <td>Sim</td>
                    <td>Sim</td>
                    <td>Sim</td>
                </tr>
                <tr>
                    <th scope="row">13</th>
                    <td>Piso tátil para orientar deslocamento nas dependências do estabelecimento.</td>
                    <td>-</td>
                    <td>-</td>
                    <td>Sim</td>
                </tr>
                <tr>
                    <th scope="row">14</th>
                    <td>Portas automáticas.</td>
                    <td>-</td>
                    <td>-</td>
                    <td>Sim</td>
                </tr>
                <tr>
                    <th scope="row">15</th>
                    <td>Bebedouros e/ou pias com sensores.</td>
                    <td>-</td>
                    <td>-</td>
                    <td>Sim</td>
                </tr>
                <tr>
                    <th scope="row">16</th>
                    <td>Disponibilização de cadeira de rodas.</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                </tr>
                <tr>
                    <th scope="row">17</th>
                    <td>Cadeiras e/ou mesas ajustáveis à altura do usuário.</td>
                    <td>-</td>
                    <td>-</td>
                    <td>Sim</td>
                </tr>
                <tr>
                    <th scope="row">18</th>
                    <td>Em restaurantes, disponibilização de conjuntos de talheres que possam ser fixados nas mãos das pessoas com dificuldades de preensão.</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                </tr>
                <tr>
                    <th scope="row">19</th>
                    <td>Em caso de hotéis/motéis, quartos totalmente adaptados.</td>
                    <td>-</td>
                    <td>-</td>
                    <td>2</td>
                </tr>
                <tr>
                    <th scope="row">20</th>
                    <td>Balcões e bilheterias acessíveis a usuários de cadeira de rodas e pessoas com nanismo.</td>
                    <td>-</td>
                    <td>Sim</td>
                    <td>Sim</td>
                </tr>
                <tr>
                    <th scope="row">21</th>
                    <td>Banheiros adaptados de acordo com as normas técnicas.</td>
                    <td>Sim</td>
                    <td>Sim</td>
                    <td>Sim</td>
                </tr>
                <tr>
                    <th scope="row">22</th>
                    <td>Calçadas sem barreiras de acesso.</td>
                    <td>Sim</td>
                    <td>Sim</td>
                    <td>Sim</td>
                </tr>
                <tr>
                    <th scope="row">23</th>
                    <td>Interruptores acessíveis às pessoas usuárias de cadeira de rodas e com nanismo.</td>
                    <td>-</td>
                    <td>Sim</td>
                    <td>Sim</td>
                </tr>
                <tr>
                    <th scope="row">24</th>
                    <td>Acolhimento junto ao tutor de cão guia e Animais de Assistência Emocional- ESAN.</td>
                    <td>Sim</td>
                    <td>Sim</td>
                    <td>Sim</td>
                </tr>
                <tr>
                    <th scope="row">25</th>
                    <td>Acessibilidade nas áreas destinadas à prática de esporte e lazer quando houver.</td>
                    <td>-</td>
                    <td>-</td>
                    <td>Sim</td>
                </tr>
                <tr>
                    <th scope="row">26</th>
                    <td>Atendimento prioritário às pessoas com deficiência.</td>
                    <td>Sim</td>
                    <td>Sim</td>
                    <td>Sim</td>
                </tr>
                <tr>
                    <th scope="row">27</th>
                    <td>Espaço para circulação de cadeira de rodas nos principais acessos do estabelecimento.</td>
                    <td>Sim</td>
                    <td>Sim</td>
                    <td>Sim</td>
                </tr>
                <tr>
                    <th scope="row">28</th>
                    <td>Piso tátil da calçada à entrada do estabelecimento.</td>
                    <td>Sim</td>
                    <td>Sim</td>
                    <td>Sim</td>
                </tr>
                <tr>
                    <th scope="row">29</th>
                    <td>Em auditório, cinemas e teatros, garantir espaço reservado para pessoa com deficiência e/ou mobilidade reduzida.</td>
                    <td>Sim</td>
                    <td>Sim</td>
                    <td>Sim</td>
                </tr>
                <tr>
                    <th scope="row">30</th>
                    <td>Em caso de hotéis/motéis, quarto com cama em altura adequada, para favorecer a transferência das pessoas com deficiência física.</td>
                    <td>1</td>
                    <td>1</td>
                    <td>2</td>
                </tr>
                <tr>
                    <th scope="row">31</th>
                    <td>Informações em Braille no acesso à entrada/saída.</td>
                    <td>-</td>
                    <td>Sim</td>
                    <td>Sim</td>
                </tr>
            </tbody>
        </table>
    </section>
</div>
</div>