<section class="container">
    <div class="aligns-fluid" id="figura">
        <figure class="figure-fluid">
            <img src="/img/Angra Cidade Inclusiva - logotipo 1.png " class="img-fluid " alt="Logomarca Angra Cidade Inclusiva ">
        </figure>
    </div>


    <section class="container row">
        <div>
            <h1 id="tituloCenter">Sobre o Projeto </h1>
            <article>
                <p class="text"> Lorem ipsum dolor sit amet, consectetur adip Lorem ipsum dolor sit amet, consectetur adip Lorem ipsum dolor sit amet, consectetur adip Lorem ipsum dolor sit amet, consectetur adip Lorem ipsum dolor sit amet, consectetur adip Lorem ipsum
                    dolor sit amet, consectetur adip Lorem ipsum dolor sit amet, consectetur adip Lorem ipsum dolor sit amet, consectetur adip Lorem ipsum dolor sit amet, consectetur adip Lorem ipsum dolor sit amet, consectetur adip Lorem ipsum dolor
                    sit amet, consectetur adip Lorem ipsum dolor sit amet, consectetur adip lorem ipsum dolor sit amet, consectetur adip lorem ipsum dolor sit amet, consectetur adip Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil cumque
                    illo numquam ipsum, vitae veritatis iure dolores quisquam aliquid voluptas asperiores iusto odit labore ut ducimus enim dolore dolorem doloribus?
                </p>
            </article>
        </div>
    </section>

    <div class="container-fluid" id="figura">
        <div class="row ">
            <div class="col-lg-4 ">
                <img class="img-fluid " src="/img/SeloOuro.png">
            </div>

            <div class="col-lg-4 ">
                <img class="img-fluid " src="/img/SeloPrata.png">
            </div>

            <div class="col-lg-4 ">
                <img class="img-fluid " src="/img/SeloBronze.png">
            </div>
        </div>

    </div>
</section>