<section class="container">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <div class="container" id="footerPosition">
        <footer>
            <div class="container-fluid container-fluid center-block w-75">
                <div class="row">
                    <div class="col-4">
                        <ul class="flex-column">
                            <li class="nav-link"><a href="#imagemDiv">Retornar à Página</a></li>
                            <li class="nav-link"><a href="#tituloCenter">Sobre</a></li>
                            <li class="nav-link"><a href="#suporte">Contato / Suporte</a></li>
                        </ul>
                    </div>
                    <div class="col-4">
                        <ul>
                            <li class="nav-link"><a href="https://www.facebook.com/Angra-Cidade-Inclusiva-110987071653148"><i class="fab fa-facebook fa-3x "></i></a></li>
                            <li class="nav-link"><i class="fab fa-instagram fa-3x"></i></li>
                            <li class="nav-link"><i class="fab fa-twitter fa-3x"></i></li>
                        </ul>
                    </div>

                    <div class="col-4">
                        <ul>
                            <img class="card-img" src="/img/prefeitura.png">
                        </ul>

                        <ul>
                            <img class="card-img" src="/img/SDE01.png">
                        </ul>
                    </div>
                </div>

                <div class="text-center bg-color-dark" id="copyrightRodape">
                    &copy 2022 Copyright: Secretaria de Desenvolvimento Economico - Prefeitura de Angra dos Reis</a>
                </div>
            </div>

        </footer>
    </div>
</section>