<section class="container-fluid">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <div class="container" id="footerPosition">
        <footer>
            <div class="container-fluid py-3">
                <div class="row">
                    <div class="col-4">
                        <ul class="nav flex-column">
                            <li class="nav-link"><a href="#">Retornar à Página</a></li>
                            <li class="nav-link"><a href="#">Sobre</a></li>
                            <li class="nav-link"><a href="#">Contato</a></li>
                            <li class="nav-link"><a href="#">Suporte</a></li>
                        </ul>
                    </div>
                    <div class="col-4">
                        <p>

                        </p>
                        <ul class="nav">
                            <li class="nav-link"><i class="fab fa-facebook fa-3x "></i></li>
                            <li class="nav-link"><i class="fab fa-instagram fa-3x"></i></li>
                            <li class="nav-link"><i class="fab fa-twitter fa-3x"></i></li>
                            <li class="nav-link"><i class="fab fa-whatsapp fa-3x"></i></li>
                        </ul>
                    </div>

                    <div class="col-4">
                        <ul>
                            <br>
                        </ul>

                        <ul>
                            <img class="card-img" src="/img/Secretaria de Desenvolvimento Econômico - 06.png">
                        </ul>

                        <ul class="nav">
                            <br>
                        </ul>
                    </div>
                </div>

                <div class="text-center bg-color-dark" id="copyrightRodape">
                    &copy 2022 Copyright: Secretaria de Desenvolvimento Economico - Prefeitura de Angra dos Reis</a>
                </div>
            </div>

        </footer>
    </div>
</section>