<section class="container">
    <h3>Cadastro Locais</h3>
    <form class="row col-md-4">
     <form action="#" method="POST">
        <div class="form-group">
            <label for="nome_local">Nome do local: </label>
            <input type="text" name="nome_local" placeholder="Seu nome aqui" class="form-control">
        </div>

        <div class="form-group">
            <label for="telefone_local">Telefone: </label>
            <input type="number" name="telefone_local" placeholder="(xx)xxxxxxxxx" class="form-control">
        </div>

        <div class="form-group">
            <label for="email_local">Email: </label>
            <input type="email" name="email_local" placeholder="example@example.com" class="form-control">
        </div>

        <div class="form-group">
            <label for="cep_local">CEP: </label>
            <input type="number" name="cep_local" placeholder="xxxxx-xxx" class="form-control">
        </div>

        <div class="form-group">
            <label for="bairro_local">bairro: </label>
            <input type="text" name="bairro_local" placeholder="bairro aqui" class="form-control">
        </div>

        <div class="form-group">
            <label for="logradouro_local">Logradouro: </label>
            <input type="text" name="logradouro_local" placeholder="logradouro aqui" class="form-control">
        </div>

        <div class="form-group">
            <label for="numero_local">Numero: </label>
            <input type="number" name="numero_local" placeholder="xx" class="form-control">
        </div>

        <div class="form-group">
            <label for="tipo_local">Tipo de Local: </label>
            <input type="text" name="tipo_local" class="form-control">
        </div>

    </form>

    <br>

    <button type="submit" class="btn btn-primary col-sm-1 align-center">Enviar</button>

</section>

</br>