<section class="container">
    <h3>Cadastro Serviços</h3>
    <form class="row col-md-5">
    <form action="#" method="POST">
        <div class="form-group">
            <label for="nome_servico">Nome: </label>
            <input type="text" name="nome_servico" placeholder="Seu nome aqui" class="form-control">
        </div>

        <div class="form-group">
            <label for="telefone_servico">Telefone: </label>
            <input type="number" name="telefone_servico" placeholder="(xx)xxxxxxxxx" class="form-control">
        </div>

        <div class="form-group">
            <label for="email_servico">Email: </label>
            <input type="email" name="email_servico" placeholder="example@example.com" class="form-control">
        </div>

        <div class="form-group">
            <label for="cep_servico">CEP: </label>
            <input type="number" name="cep_servico" placeholder="xxxxx-xxx" class="form-control">
        </div>

        <div class="form-group">
            <label for="bairro_servico">bairro: </label>
            <input type="text" name="bairro_servico" placeholder="bairro aqui" class="form-control">
        </div>

        <div class="form-group">
            <label for="logradouro_servico">Logradouro: </label>
            <input type="text" name="logradouro_servico" placeholder="logradouro aqui" class="form-control">
        </div>

        <div class="form-group">
            <label for="numero_servico">Numero: </label>
            <input type="number" name="numero_servico" placeholder="xx" class="form-control">
        </div>

        <div class="form-group">
            <label for="tipo_servico">Tipo de serviço: </label>
            <input type="text" name="tipo_servico" class="form-control">
        </div>

    </form>
    <br>
    <button type="submit" class="btn btn-primary col-sm-1 align-center">Enviar</button>

</section>
</br>