<section class="container">
    <h3>Cadastro Pessoa</h3>
    <form class="row col-md-5">
      <form action="#" method="POST">
        <div class="form-group">
            <label for="nome_pessoa">Nome: </label>
            <input type="text" name="nome_pessoa" placeholder="Seu nome aqui" class="form-control">
        </div>

        <div class="form-group">
            <label for="email_pessoa">Email: </label>
            <input type="email" name="email_pessoa" placeholder="example@example.com" class="form-control">
        </div>

        <div class="form-group">
            <label for="pcd">Deficiência/Mobilidade reduzida: </label>
            <input type="text" name="pcd" class="form-control">
        </div>

        <div class="form-group">
            <label for="cidade_pessoa">Cidade: </label>
            <input type="text" name="cidade_pessoa" class="form-control">
        </div>

        <div class="form-group">
            <label for="idade_pessoa">Idade: </label>
            <input type="number" name="idade_pessoa" class="form-control">
        </div>

    </form>

    <br>

    <button type="submit" class="btn btn-primary col-sm-1 align-center">Enviar</button>
    
</section>

</br>