<section class="container">
    <br>
    <h2 class="h1text">Formulario de Cadastro</h2>
    <br>
    <form  action="#" method="POST">
        <div class="flexForm containeBox1">
            <div class="form-group" id="nomeEmpresa">
                <label class="h1text" for="nome_servico">Cadastro:</label>
                    <select class="form-control" name="cars">
                        <option value="volvo">local</option>
                        <option value="saab">roteiro</option>
                        <option value="fiat">empresa</option>
                    </select>
            </div>
            <div class="form-group" id="nomeEmpresa">
                <label class="h1text" for="nome_servico">email:</label>
                <input type="text" name="nome_servico" placeholder="email" class="form-control">
            </div>
            <div class="form-group" id="cnpj">
                <label class="h1text" for="nome_servico">CNPJ:</label>
                <input type="number" name="nome_servico" placeholder="cnpj ou cpf" class="form-control">
            </div>
            <div class="form-group" id="nomeEmpresa">
                <label class="h1text" for="nome_servico">Nome:</label>
                <input type="text" name="nome_servico" placeholder="nome do empregador ou empresa" class="form-control">
            </div>
            <div class="form-group" id="sobreEmpresa">
                <label class="h1text" for="nome_servico">Descriçao:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>            </div>
            <div class="form-group" id="endereco">
                <label class="h1text" for="nome_servico">Endereço:</label>
                <input type="text" name="nome_servico" placeholder="endereço completo" class="form-control">
            </div>
            <div class="form-group" id="cep">
                <label class="h1text" for="nome_servico">CEP:</label>
                <input type="number" name="nome_servico" placeholder="cep" class="form-control">
            </div>
            <div class="form-group" id="bairro">
                <label class="h1text" for="nome_servico">Bairro:</label>
                <input type="text" name="nome_servico" placeholder="bairro" class="form-control">
            </div>
            <div class="form-group" id="telefone">
                <label class="h1text" for="nome_servico">Telefone:</label>
                <input type="number" name="nome_servico" placeholder="numero de telefone celular" class="form-control">
            </div>
            <div class="form-group" id="telefone">
                <label class="h1text" for="nome_servico">Telefone:</label>
                <input type="number" name="nome_servico" placeholder="numero de telefone fixo" class="form-control">
            </div>
            <div class="form-group" id="nomeEmpresa">
                <label class="h1text" for="nome_servico">Nome:</label>
                <input type="text" name="nome_servico" placeholder="nome do representante" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary col-sm-4 align-center" id="btnForm">Enviar</button>
        </div>
    </form>
</section>
</br>