<section class="container">
    <br>
    <h2 class="h1text">Formulario de Cadastro</h2>
    <br>
    <form  action="/cadastro/novo" method="POST">
        <div class="flexForm containeBox1">
            <div class="form-group" id="nomeEmpresa">
                <label class="h1text" for="tipoLocal">Cadastro:</label>
                    <select class="form-control" name="tipoLocal">
                        <option value="naoEscolheu">roteiros, empresa ou serviço</option>
                        <option value="roteiro">roteiro</option>
                        <option value="empresa">empresa</option>
                        <option value="servico">serviço</option>
                    </select>
            </div>
            <div class="form-group" id="nomeEmpresa">
                <label class="h1text" for="email">Email:</label>
                <input type="text" name="email" placeholder="Email" class="form-control" required>
            </div>
            <div class="form-group" id="cnpj">
                <label class="h1text" for="cnpj">CNPJ:</label>
                <input class="form-control cpfj" value="" name="cnpj" placeholder="CNPJ ou CPF" required>
            </div>
            <div class="form-group" id="nomeEmpresa">
                <label class="h1text" for="nome_servico">Nome:</label>
                <input type="text" name="nome_servico" placeholder="Nome do Empregador ou Empresa" class="form-control" required>
            </div>
            <div class="form-group" id="sobreEmpresa">
                <label class="h1text" for="descricao">Descriçao:</label>
                <input type="text" name="descricao" class="form-control" id="exampleFormControlTextarea1" rows="4"></input>
            </div>
            <div class="form-group" id="endereco">
                <label class="h1text" for="endereco">Endereço:</label>
                <input type="text" name="endereco" placeholder="Endereço Completo" class="form-control" required>
            </div>
            <div class="form-group" id="cep">
                <label class="h1text" for="cep">CEP:</label>
                <input class="form-control CEP"  name="cep" placeholder="CEP" required>
            </div>
            <div class="form-group" id="bairro">
                <label class="h1text" for="bairro">Bairro:</label>
                <input type="text" name="bairro" placeholder="bairro" class="form-control" required>
            </div>
            <div class="form-group" id="telefone">
                <label class="h1text" for="telCelular">Telefone:</label>
                <input class="form-control celular"  name="telCelular" placeholder="Telefone Celular" required>
            </div>
            <div class="form-group" id="telefone">
                <label class="h1text" for="telFixo">Telefone:</label>
                <input class="form-control celularA"  name="telFixo" placeholder="Telefone Fixo" required>
            </div>
            <div class="form-group" id="nomeEmpresa">
                <label class="h1text" for="nomeRepresentante">Nome:</label>
                <input type="text" name="nomeRepresentante" placeholder="Nome do Representante" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary col-sm-4 align-center" id="btnForm">Enviar</button>
        </div>
    </form>
</section>
</br>