<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a class="mt-1 mb-1">
            <img title="pagina principal" id="logo" src="/img/Angra Cidade Inclusiva - logotipo 4.png" alt="Logo - Angra dos Reis - Cidade Inclusiva">
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
          <li class="">
            <a class="text-white headerTexts" aria-current="page" href="/admaciadm">Solicitações</a>
          </li>
          <%if (user.eAdmin == 1){%>
          <li class="nav-item">
            <a class="text-white headerTexts" href="/userList">Usuarios</a>
          </li>
          <li class="nav-item">
            <a class="text-white headerTexts" href="/nuser">NUser</a>
          </li>
          <% } %>
        </ul>

        <div class="d-flex">
            <a class="nav-link " href="/logout">Logout</a>
        </div>
        
      </div>
    </div>
  </nav>