<!-- Navigation bar -->
<header class="header">
  <div>
  <!-- Logo -->
  <a class="navbar-brand logo" href="/">
    <img title="pagina principal" id="logo" src="/img/Angra Cidade Inclusiva - logotipo 4.png" alt="Logo - Angra dos Reis - Cidade Inclusiva">
  </a>

  <!-- Hamburger icon -->
  <input  class="side-menu" type="checkbox" id="side-menu"/>
  <label title="mostrar menu" class="hamb" for="side-menu"><span class="hamb-line"></span></label>
  
  <!-- Menu -->
  <nav class="nav">
      <ul class="menu">
          <li><a title="pagina principal" class="headerTexts" href="/" id="sobre">Sobre</a> </li>
          <li><a title="Locais e Roteiros Acessiveis" class="headerTexts" href="locais" id="Locais">Locais e Roteiros Acessiveis</a> </li>
          <li><a title="Serviços Cadastrados" class="headerTexts" href="servicos" id="Servicos">Serviços Cadastrados</a></li>
          <li><a title="Empresas Cadastradas" class="headerTexts" href="empresas" id="Empresas">Empresas Cadastradas</a></li>
      </ul>
  </nav>
</div>
</header>