<section class="container" id="selo">
    <div>
        <h1 id="tituloCenter">Legislação Oficial Sobre Acessibilidade</h1>
        <article>
            <p>
                Para acessar a Lei Nº LEI Nº 13.146, DE 6 DE JULHO DE 2015.</p>
            <p>Institui a Lei Brasileira de Inclusão da Pessoa com Deficiência (Estatuto da Pessoa com Deficiência).
            </p>
            <link a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2015/lei/l13146.htm#:~:text=Art.,Par%C3%A1grafo%20%C3%BAnico."> Click Aqui </link>
        </article>
    </div>
</section>