<div class="TableInformacao">
    <table class="table table-bordered table-striped container-fluid">
        <tbody>
        <tr>
            <th scope="row">Requerente:</th>
            <td><%= pendentes[0].nomeloc %></td>
        </tr>
        <tr>
            <th scope="row">CPF/CNPJ:</th>
            <td>teste</td>
        </tr>
        <tr>
            <th scope="row">Celular:</th>
            <td>teste</td>
        </tr>
        <tr>
            <th scope="row">CEP:</th>
            <td>teste</td>
        </tr>
        <tr>
            <th scope="row">N°:</th>
            <td>teste</td>
        </tr>
        <tr>
            <th scope="row">Sobre:</th>
            <td>O cuidado em identificar pontos críticos na execução dos pontos do programa acarreta um processo de reformulação e modernização dos procedimentos normalmente adotados.O cuidado em identificar pontos críticos na execução dos pontos do programa acarreta um processo de reformulação e modernização dos procedimentos normalmente adotados.
                O cuidado em identificar pontos críticos na execução dos pontos do programa acarreta um processo de reformulação e modernização dos procedimentos normalmente adotados.
                O cuidado em identificar pontos críticos na execução dos pontos do programa acarreta um processo de reformulação e modernização dos procedimentos normalmente adotados.
                O cuidado em identificar pontos críticos na execução dos pontos do programa acarreta um processo de reformulação e modernização dos procedimentos normalmente adotados.
            </td>
        </tr>
        <tr>
            <th scope="row">Tipo:</th>
            <td>local</td>
        </tr>
        </tbody>
    </table>
</div>