<div class="TabelaEstilo">
<table class="table table-striped container-fluid">
    <thead>
        <tr class="textosCenter">
            <th scope="col">#</th>
            <th scope="col">Requerente</th>
            <th scope="col">Tipo</th>
            <th scope="col">Data</th>
            <th scope="col">Selo</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        <% for(let i=0; i<pendentes.length; i++) {%>

            <form action="/cad/act" method="POST">
                <tr>
                    <th scope="row" class="textosCenter">
                       <%=pendentes[i].id%>
                    </th>
                    <td class="textosCenter">
                        <%= pendentes[i].nomeloc %>
                    </td>
                    <td class="textosCenter">
                        <%if (pendentes[i].tipo==1){%>
                            <p>local</p>
                        <% }else if (pendentes[i].tipo==2){ %>
                            <p>serviço</p>
                        <% }else if (pendentes[i].tipo==3){ %>
                            <p>roteiro</p>
                        <% }else if (pendentes[i].tipo==4){ %>
                            <p>empresa</p>
                        <% }%>
                    </td>
                    
                    <td class="textosCenter">
                        <%= pendentes[i].createdAt.toLocaleDateString('el-GR') %>
                    </td>
                    
                        <%if (pendentes[i].selo==0){%>
                            <td>
                                <div class="alert alert-danger mr-1 alertaSizeChange"> Pendente</div> 
                            </td>
                        <% }else if (pendentes[i].selo==1){ %>
                            <td>
                                <div class="alert alert-warning mr-1 alertaSizeChange">Ouro</div> 
                            </td>
                        <% }else if (pendentes[i].selo==2){ %>
                            <td>
                                <div class="alert alert-secondary mr-1 alertaSizeChange">Prata</div> 
                            </td>
                        <% }else if (pendentes[i].selo==3){ %>
                            <td>
                                <div class="alert alert-primary mr-1 alertaSizeChange">Bronze</div> 
                            </td>
                        <% } %> %>
                   
                    <td>
                        <select class="form-control" name="selo">
                            <option value="0">Escolha Selo</option>
                            <option value="1">Ouro</option>
                            <option value="2">Prata</option>
                            <option value="3">Bronze</option>
                        </select>
                    </td>
                    <!-- mais informaçoes da request-->
                    <td>
                        <button type="submit" name="sent" value="4" class="btn btn-secondary col-sm-6 centerText" id="btnForm">mais</button>
                     </td>
                    <td>
                        <input type="hidden" name="id" value="<%=pendentes[i].id%>">
                        <%if (user.eAdmin == 1){%>
                        <button type="submit" name="sent" value="2" class="btn btn-danger col-sm-3 centerText" id="btnForm">Negar</button>
                        <button type="submit" name="sent" value="1" class="btn btn-success col-sm-3 centerText" id="btnForm">Aceitar</button>
                        <button type="submit" name="sent" value="3" class="btn btn-danger col-sm-3 centerText" id="btnForm">Deletar</button>
                        <% } else {%>
                            <button type="submit" name="sent" value="2" class="btn btn-danger col-sm-5 centerText" id="btnForm">Negar</button>
                            <button type="submit" name="sent" value="1" class="btn btn-success col-sm-5 centerText" id="btnForm">Aceitar</button>
                        <% } %>
                    </td>

                    <%if (pendentes[i].stat==0){%>
                        <td>
                            <div class="alert alert-warning mr-1 alertaSizeChange"> Pendente</div> 
                        </td>
                    <% }else if (pendentes[i].stat==1){ %>
                        <td>
                            <div class="alert alert-success mr-1 alertaSizeChange"> Aceito</div> 
                        </td>
                    <% }else if (pendentes[i].stat==2){ %>
                        <td>
                            <div class="alert alert-danger mr-1 alertaSizeChange"> Negado</div> 
                        </td>
                    <% } %> %>
                </tr>
            </form>
        <% } %>
    </tbody>
</table>
</div>