<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Usuario</th>
            <th scope="col">Tipo</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <% for(let i=0; i<users.length; i++) {%>
            <form action="/user/act" method="POST">
                <tr>
                    <th scope="row">
                       <%= users[i].id%>
                    </th>
                    <td>
                        <%= users[i].usuario %>
                    </td>
                    <td>
                        <%if (users[i].eAdmin==1){%>
                            Administador
                        <% }else{ %>
                            Usuario
                        <% } %>
                    </td>
                    <td>
                        <input type="hidden" name="id" value="<%=users[i].id%>">
                        <input type="hidden" name="eAdmin" value="<%=users[i].eAdmin%>">
                        <button type="submit" name="sent" value="1" class="btn btn-danger col-sm-2 btnMarginTop" id="btnForm">Deletar</button>
                    
                        <button type="submit" name="sent" value="2" class="btn btn-primary col-sm-2 btnMarginTop" id="btnForm">Mudar tipo</button>
                    
                    </td>
                </tr>
            </form>
            <% } %>
    </tbody>
</table>